@{
  Layout = "_Layout";
}
@model IEnumerable<RecipeBox.Models.Recipe>
@using RecipeBox.Models;
@{

  ViewData["Title"] = "Index";
}

<h1>Recipes for @User.Identity.Name</h1>

<table class="table">
    <thead>
        <tr>
                <th>
                  
                        <a href='/Recipes?sortOrder=description_desc'>
                        @Html.DisplayNameFor(model => model.Description)</a>

                </th>
                <th>
                        <a href='/Recipes?sortOrder=rating_desc'>
                        @Html.DisplayNameFor(model => model.Rating)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (!Model.Any())
{
  <h3>No recipes have been added yet!</h3>
} 
else
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <tr>
        <td><li>@Html.ActionLink($"{recipe.Description}", "Details", new { id = recipe.RecipeId })</li></td>
        <td><li>@Html.ActionLink($"{recipe.Rating}", "Details", new { id = recipe.RecipeId })</li></td>
      </tr>
    }
  </ul>
}
    </tbody>
    </table>
<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>